body{
	font-family: 'Lora', serif;
	margin:0;
}
#home{
	text-align: center;
	background: url('../image/img/banner/home-banner.jpg');
	height: 400px;
}
#home p{
	width: 100%;
}
#home i{
	margin:0 10px;
}
#home div{
	margin-top: 10%;
	float: left;
	width: 100%;
	
	color: white;
}
#ct1{
	position: relative;
	color: white;
	padding: 100px;
	width: 70%;
	margin: 150px 10% 50px ;
	height: 500px;
	background-color: #271F64;

}
#ct1 h1,p{
	width: 50%;

}


#pri h1{

text-align: center;
}
#footer .list-group-item{
	background: none;
	color: white;
	text-align: center;
	border: none;
}
.list-group-item{
	border: none;
}
.list-group-item i{
	margin-right: 20px;
	color: #00aaff;
	font-size: 24px;
}
.bitem{
	width: 50%;
	margin:0 auto;
padding-bottom: 20px;
	border-bottom: dashed 1px #f2f2f2;
}


#footer{
	margin-top: 50px;
	padding:50px 0;
	background: linear-gradient(to right,  #24243e, #302b63,#24243e);
	font-weight: bold;
	padding: 10%;

}
.listcl{
	color: #f2f2f2;
	font-weight: normal;
}
.ftimg{
padding:5px !important;
}
.ct6{
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	color: white;
	height: 50px;
	line-height: 50px;
	background: black;

}

#footer i{
	padding:10px;
}
.logo{
	color: white !important;
	font-weight: bold;
}
.navbar{
	
	background: linear-gradient(to right,  #3494E6, #EC6EAD);
}
#map{
	margin:50px auto;
}
